<div class="wrapper">
  <div class="form-wrapper registration">
      <form>
          <h2><b>Employer</b></h2>
          <div class="input-group">
              <input type="text" required>
              <label for="">First name</label>
          </div>
          <div class="input-group">
              <input type="text" required>
              <label for="">Last name</label>
          </div>
          <div class="input-group">
              <input type="email" required>
              <label for="">Email</label>
          </div>
          <div class="input-group">
              <input type="password" required>
              <label for="">Password</label>
          </div>
           <div class="input-group">
              <input type="password" required>
              <label for="">Confirm Password</label>
          </div>
          <div class="input-group">
              <input type="text" required>
              <label for="">Company name</label>
          </div>
          <div class="remember">
              <label><input type="checkbox"> I agree to the terms & conditions</label>
          </div>
          <button class="btn" type="submit"><p>Create</p></button>
          <div class="signUp-link">
              <p>Already have an account? <a href="login" class="signInBtn-link">Sign In</a></p>
          </div>
      </form>
  </div>
</div>
<script src="/js/register.js"></script>