<div class='topnav'>      
        <a href='/login'>login</a></li>
        <a href='/register'>register</a></li>
</div>
<div class=" wrapper-home">
    <div class="wrapper-home text">
     <h1>Hello </h1>
     <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et magnis dis parturient montes 
          nascetur ridiculus mus. Purus semper eget duis at tellus at urna condimentum mattis. Turpis in eu mi 
          bibendum neque egestas. Rhoncus dolor purus non enim praesent elementum facilisis. Ipsum nunc aliquet 
          bibendum enim facilisis gravida. Cursus turpis sa tincidunt dui ut ornare lectus. Enim nec dui nunc 
          mattis enim ut. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Tussa 
          ultricies mi quis hendrerit dolor magna. Elit eget gravida cum sociis natoque penatibus et magnis 
          dis. Enim tortor at auctor urna nunc id cursus metus.
      </p>
    </div>
</div>