

<div class="wrapper-home">
     <h1>Hello </h1>
     <p>
       Introducing "DiscoverDevs," a cutting-edge mobile application designed to streamline the process of 
       connecting employers with talented, newly graduated developers. DiscoverDevs is the ultimate solution 
       for employers seeking skilled and motivated developers who have recently completed their studies. 
       The app leverages advanced algorithms and intelligent matching systems to ensure a seamless and efficient
       hiring experience.
      </p>
 

     <h1>Hello </h1>
     <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et magnis dis parturient montes 
          nascetur ridiculus mus. Purus semper eget duis at tellus at urna condimentum mattis. Turpis in eu mi 
          bibendum neque egestas. Rhoncus dolor purus non enim praesent elementum facilisis. Ipsum nunc aliquet 
          bibendum enim facilisis gravida. Cursus turpis sa tincidunt dui ut ornare lectus. Enim nec dui nunc 
          mattis enim ut. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Tussa 
          ultricies mi quis hendrerit dolor magna. Elit eget gravida cum sociis natoque penatibus et magnis 
          dis. Enim tortor at auctor urna nunc id cursus metus.
     </p>
</div>  