@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url('https://getwallpapers.com/wallpaper/full/3/9/0/1322536-beautiful-techy-background-1920x1080-for-phones.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: column;
  margin-top: 50px;
  margin-bottom: 45rem;
}

.wrapper {
  place-items: center;
  text-align: center;
  position: relative;
  width: 20rem;
  height: 35rem;
  background: #000;
  box-shadow: 0 0 50px #0ef;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
  margin-bottom: 18rem;
  padding-top: 5rem;
  margin-top: 50px;
}

.wrapper-home {
  place-items: center;
  text-align: center;
  position: relative;
  color: white;
  border-radius: 20px;
  width: 600px;
  margin-top: 50px;
  box-shadow: 0 0 20px #0ef;
}

.wrapper-home h1 {
  font-size: 40px;
  background-color: black;
  padding: 10px;
  font-weight: bold;
}

.wrapper-home p {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: black;
  padding: 10px;
}

.wrapper:hover {
  animation: animate 1s linear infinite;
}

.form-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

.form-wrapper::-webkit-scrollbar {
  width: 6px;
}

.wrapper-registration {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 450px;
}

.wrapper-registration::-webkit-scrollbar {
  width: 6px;
}

.select-bar {
  width: 100%;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

.select-bar option {
  background-color: #000;
}

.wrapper .form-wrapper.sign-up {
  top: 10px;
}

.all-devs > .wrapper {
  padding: 20px 15px 15px 25px;
}

h2,
h3 {
  font-size: 50px;
  color: white;
  text-align: center;
}


.input-group {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-group input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
  top: -5px;
}

.remember {
  margin: -5px 0 15px 5px;
}

.remember label {
  color: #fff;
  font-size: 14px;
}

.remember label input {
  accent-color: #0ef;
}

button {
  position: relative;
  width: 100%;
  height: 40px;
  background: #0ef;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
}

.btn p {
  color: white;
}

form h2 {
  font-size: 40px;
}

.signUp-link {
  font-size: 14px;
  text-align: center;
  margin: 15px 0;
}

.signUp-link p {
  color: #fff;
}

.signUp-link p a {
  color: #0ef;
  text-decoration: none;
  font-weight: 500;
}

.signUp-link p a:hover {
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.inner-dev {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.inner-dev h2 {
  margin: 0 10%;
  font-size: 1.5rem;
  
}

.tech-image {
  height: 30px;
  width: auto;
}

#tech-form {
  color: white;
  margin: -5px 0 15px 5px;
}

.dev {
  margin: 0 40px 30px;
  color: white;
}

.dev-image {
  height: 42%;
  width: auto;
  border-radius: 10px;
}

body>div {
  margin: 40px;
}



#filter-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 20px;
}

#filter-bar input[type="text"],
#filter-bar select {
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filter-form {
  display: flex;
  flex-grow: 1 0 100%;
  flex-wrap: wrap;
  width: 80%;

}

.all-dev-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-info {
  width: 50%;
  display: inline-block;
}

.other-info > * {
  margin-bottom: 15px;
}

.each-tech-list {
  width: 50%;
  text-align:left;
  display: inline-block;

}

.each-tech-list > * {
  width: 100%;
  margin: 6px 0;
}


.each-tech-list svg, .each-tech-list p {
  display: inline-block;
  margin: 0;
}

#results {
  margin-top: 60px;
}

.filter-btn {
  color: white;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.455);
}

#tech-form {
  color: white;
  font-weight: bold;
  margin: -5px 0 15px 5px;
}

.wrapper-registration>h3 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

#logout-button {
  cursor: pointer;
}

.list-of-techs {
  background-color: white;
  border-radius: 5px;
  display: flex;
  height: 150px;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 20px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
}

.list-of-techs > * {
  width: 15%;
}

#location, #experience {
  flex: 1 0 45%;
  height: 40px;
  margin: 20px;
}

footer {
  background-color: #111827;
  text-align: center;
}

footer h1 {
  color: white;
  display: inline-block;
  font-size: 24px;
  padding-bottom: 1rem;
  font-weight: bold;
}

footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding-bottom: 2rem;
}

footer nav ul li {
  color: white;

}

footer nav ul li a {
  color: white;
  text-decoration: none;
}